/* Estilos de print desde js */
body{
	background-color: #EAEAEA;
}
.hidden{
	position:none;
}

a:hover{
	cursor:pointer;
}

.fondo{
	background-color: #BFBFBF;
}

.caja-white{
	background-color: white;
	padding: 10px;
	width: 220px;
	height: 200px;
	margin: 5px 10px;
	display: inline-block;
}

.visitas{
	padding: 5px 0;
	color: #BFBFBF;
}

#proyectos{
	margin-top: 35px;
}